*{
    margin: 0;
  padding: 0;
  box-sizing:border-box;
}
h1{
    position: absolute;
    top: 0;
    right: 0px;
    padding: 10px;
    background-color: darkgoldenrod; 
    color: red; 
    }
#bannersub{
    position: relative;
}
.banner1{
    background-image: url(/Assets/design1_image1.jpg);
    width: 100%;
    height: 300px;
  }
  
.banner2{
    background-image: url(/Assets/design1_image1.jpg);
    width: 100%;
    height: 300px;
  }
.banner3{
    background-image: url(/Assets/design1_image2.jpg);
    width: 100%;
    height: 300px;
  }
.banner4{
    background-image: url(/Assets/design1_image2.jpg);
    width: 100%;
    height: 300px;
  }
  .banner5{
    background-image: url(/Assets/design1_image2.jpg);
    width: 100%;
    height: 300px;
  }
  nav{
    margin-right: 20px;
    padding: 20px;
    right: 100px;
    align-items: center;
    background-color: darkgoldenrod;
    }
  a{
    padding: 40px;
    color: red;
    }
  div>h2{
    text-align: center;
    background-color: darkgoldenrod;
  }
  div>h2{
    color: red;
  }
  
  #logo {
    position: absolute;
    top: -150px;
    right: 0px;
    border-color: black;
  }
  #sportsrules{
    margin-left: 40px;
    padding: 10px;
  }
  #sportsmanship{
    margin-left: 40px;
    padding: 10px;
  }
  #ihf{
    margin-left: 30px;
    padding: 10px;
  }
  #fields{
    margin-left: 60px;
    padding: 10px;
  }
  .contenido4{
    margin-left: 60px;
    padding: 10px;
  }
  #allplay{
    margin-left: 40px;
    padding: 10px;
  }
  #mission{
    margin-left: 30px;
    padding: 10px;  
  }
  #email{
    margin-left: 30px;
    padding: 10px;
  }
  #upcoming{
    margin-left: 30px;
    padding: 10px;
  }
  #allgames{
    margin-left: 20px;
    padding: 10px;
  }
  #facility{
    margin-left: 20px;
    padding: 10px;
  }
#tableschedule th, #tableschedule td{
  padding: 1em;
  border: 1px solid;  
}
#tableschedule th{
  background-color: coral;
  color: rgb(49, 40, 58);
  font-weight: bold;
}
#tableschedule{
  margin-left: 20px;
  padding: 10px;
}


  