*{
    margin: 0;
  padding: 0;
  box-sizing:border-box;
}
h1{
  display: flex;
  flex-direction: row;
  justify-content:
  space-around;
  align-items: right;
  background-color: darkgoldenrod; 
  color: red; 
  width:100%;
  padding: 10px;    
  }
#bannersub{
    padding: 10px;
}
.banner1{
    background-image: url(/Assets/design1_image1.jpg);
    width: 100%;
    height: 400px;
  }
  
.banner2{
    background-image: url(/Assets/design1_image1.jpg);
    width: 100%;
    height: 400px;
  }
.banner3{
    background-image: url(/Assets/design1_image2.jpg);
    width: 100%;
    height: 400px;
  }
.banner4{
    background-image: url(/Assets/design1_image2.jpg);
    width: 100%;
    height: 400px;
  }
  .banner5{
    background-image: url(/Assets/design1_image2.jpg);
    width: 100%;
    height: 400px;
  }
  .banner6{
    background-image: url(/Assets/design1_image2.jpg);
    width: 100%;
    height: 400px;
  }
  nav{
    display: flex;
  flex-direction: row;
  justify-content:
  space-around;
  align-items: right;
  background-color: darkgoldenrod; 
  color: red; 
  width:100%;
  }
  a{
    padding: 30px;
    color: red;
    }
  div>h2{
    text-align: center;
    background-color: darkgoldenrod;
  }
  div>h2{
    color: red;
  }
  
  #logo {
    position: absolute;
    top: -150px;
    right: 0px;
    border-color: black;
  }
  #sportsrules{
    margin-left: 40px;
    padding: 10px;
  }
  #sportsmanship{
    margin-left: 40px;
    padding: 10px;
  }
  #ihf{
    margin-left: 30px;
    padding: 10px;
  }
  #fields{
    margin-left: 60px;
    padding: 10px;
  }
  .contenido4{
    margin-left: 60px;
    padding: 10px;
  }
  #allplay{
    margin-left: 40px;
    padding: 10px;
  }
  #mission{
    margin-left: 30px;
    padding: 10px;  
  }
  #email{
    margin-left: 30px;
    padding: 10px;
  }
  #upcoming{
    margin-left: 30px;
    padding: 10px;
  }
  #allgames{
    margin-left: 20px;
    padding: 10px;
  }
  #facility{
    margin-left: 20px;
    padding: 10px;
  }
#tableschedule th, #tableschedule td{
  padding: 1em;
  border: 1px solid;  
}
#tableschedule th{
  background-color: coral;
  color: rgb(49, 40, 58);
  font-weight: bold;
}
#tableschedule{
  margin-left: 20px;
  padding: 10px;
}
#box1{
  margin-left: 200px;
    padding: 10px;
  margin-right: 200px;
  margin-top: 50px;
}
#box2{
  margin-left: 200px;
  padding: 10px;
  margin-right: 200px;
}
#box3{
  margin-left: 200px;
  padding: 10px;
  margin-right: 200px;
}
#box4{
  margin-left: 200px;
  padding: 10px;
  margin-right: 200px;
}

  